<main>
  <div class ="container">
    <div ciass ="row">
      <h1 class="px-3 mx-auto text-center">Welcome to
        <i class="fas fa-book"></i>
        <strong>Bookers</strong>
      </h1>
    </div>
  </div>
</main>
<div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
